<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav>
            <ul>
                <li>
                    <a
                        th:href="@{/}"
                        data-full-text="Home"
                        data-short-text="🏠"
                    ></a>
                </li>
                <li>
                    <a
                        th:href="@{/addCustomer}"
                        data-full-text="Add Customer"
                        data-short-text="➕"
                    ></a>
                </li>
                <li>
                    <a
                        th:href="@{/searchCustomers}"
                        data-full-text="Search Customers"
                        data-short-text="🔍"
                    ></a>
                </li>
            </ul>
        </nav>
    </body>
</html>
